body{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
#todo-container{
    display: grid;
    justify-content: center;
    width: 25rem;
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

span{
    color: #f9004d;
}



button{
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 2px #000;
}

ul{
    list-style: none;
}
 

 